@import "common.css";

html{
	color:var(--color);
	background:var(--background-color);
	font-size:var(--font-size);
	font-family:var(--font-family);
	line-height:var(--line-height);
}

*:focus{
	outline:1px solid var(--link-color);
	box-shadow:var(--focus-shadow);
}

header{
	padding:1rem 0;
	color:var(--color-inverted);
	background-color:var(--background-color-inverted);
}

header a{
	color:white;
}

header a:hover {
	color:var(--link-color);
}

a{
	text-decoration:none;
}


.logo{
	font-size:1.5rem;
	float:left;
}

.logo a{
	color:var(--color-inverted)
}

.main-nav{
	margin:10px 0 0 3rem;
	float:left;
}

.main-nav li{
	float:left;
}

.main-nav li:after{
	content:"|";
	color:gray;
	padding:0 1rem;
}
.main-nav li:last-child:after{
	display:none;
}

.content-wrap{
	max-width:1200px;
	margin:0 auto;
	display:block;
}

.content{
	display:flex;
}

.content aside{flex:1;max-width:250px;margin-right:1rem;margin-top:2rem;}
.content .aside-mod{margin:10px 0;}
.content .aside-mod dt{padding:0.5em;border-bottom:1px solid #cccccc;}
.content .aside-mod dd{padding:0.5em;}

.categories ul {
	padding-left:1rem
}

.content .articles,
.content .article{
	flex:1;
	padding-top:2rem;
}
.content .articles article{
	background-color:#ffffff;
	padding:2rem;
	margin-bottom:2rem;
	border-radius:var(--panel-radius);
	box-shadow:1px 1px 10px #dddddd;
}

.article article{
	background-color:#ffffff;
	padding:2rem;
	margin-bottom:2rem;
	border-radius:var(--panel-radius);
	box-shadow: 1px 1px 50px #ddd;
}

article pre{
	font-family:var(--code-family);
	padding:.5rem;
	background-color:#eeeeee80;
	margin:0.5rem 0;
	font-style:italic;
	color:green;
}

article table {
	border-collapse:collapse;
}

article table thead {
	background-color:#eee;
}

article th,
article td {
	text-align:left;
	padding:0.5rem;
	border:1px solid #ccc;
}

article h2:first-child {
	margin-bottom:1rem;
	font-size: 2rem;
}
article .metas{color:gray;}
article .metas li{margin-right:1rem;}
article .metas li:last-child{margin-right:0;}

footer {
	color: #bbb;
	text-align:center;
	font-size: .8rem;
	padding: 1rem 0;
	text-shadow: 1px 1px 1px white;
}
