@charset "UTF-8";


.articles .ops{
	text-align:right;
}

.content .articles,
.content .article{
	flex:1;
	padding-top:2rem;
	max-width:calc(100% - 250px)
}
.content .articles article h1{
	font-size:1.5rem;
}

.article .metas{
	margin-bottom:.5rem;
	padding-bottom:.5rem;
	border-bottom:1px solid #dddddd;
}

article .content,
article .abs{
	font-size:16px;
}
article .abs a{
	color:#444444;
}

article .metas{
	color:gray;
	overflow:hidden;
}
article .metas li{
	float:left;
}

article .metas li:after{
	content:"|";
	padding:0 .5rem;
	color:#cccccc;
}

article .metas li:last-child:after{
	display:none;
}

article .metas li:last-child{
	margin-right:0;
}

article{
	background-color:#ffffff;
	padding:2rem;
	margin-bottom:2rem;
	border-radius:var(--panel-radius);
	box-shadow:1px 1px 50px #dddddd;
}

article pre{
	font-family:var(--code-family);
	font-size:var(--code-font-size);
	padding:.5rem;
	background-color:#eeeeee80;
	margin:0.5rem 0;
	font-style:italic;
	color:green;
	max-width:100%;
	word-break:break-all;
	overflow-x:hidden;
}

article pre:hover{
	overflow:auto;
}

article table{
	border-collapse:collapse;
}

article table thead{
	background-color:#eeeeee;
}

article table thead th{
	white-space:nowrap;
}

article th,
article td{
	text-align:left;
	padding:0.5rem;
	border:1px solid #cccccc;
}

article h1:first-child{
	margin-bottom:1rem;
	font-size:2rem;
}

article h2,
article h3,
article h4,
article h5,
article h6{
	margin:1rem 0;
}
